

.filter{
    display: flex;
    justify-content: space-between;

}

.filter-left{
    width: 30%;
    background: #fff;
    height: 100vh;
    position: sticky;
    top: 40px;
}

.filter-right{
    width: 68%;
    min-height: 100vh;
    background: #fff;
}

.filter-left-a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 16px 9px 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #00000029;
}

.filter-left-a figcaption{
    font-size: 16px;
    font-weight: bold;
}

.filter-left-a img{
    width: 20px;
}
.filter-left-b{
    padding: 21px 16px 12px 16px;
}
.filter-left-ba{
    font-size: 15px;
    font-weight: bold;
}
.filter-left-bb{
    width: 100%;
    text-align: left;
    font-size: 13px;
    text-align: left;
    position: relative;
    background: #F6F6F6 0% 0% no-repeat padding-box !important;
    border: 0.20000000298023224px solid #0102211c !important;
    font-weight: bold;
    color: #109cbf !important;
    border-radius: 3px;
}
.filter-left-bb:hover, 
.filter-left-bb:active, 
.filter-left-bb:focus-visible{
    background: #F6F6F6 0% 0% no-repeat padding-box !important;
    border: 0.20000000298023224px solid #0102211c !important;
    font-weight: bold;
    color: #109cbf !important;
}
.filter-left-bb::after{
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 20px;
    transform: translateY(-50%);
    color: #000000;
}

.filter-left-b .dropdown-menu{
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #0000009c;
    border: 1px solid #7070709c;
    border-radius: 2px;
    padding: 0;

}
.filter-left-b .dropdown-item{
    border-bottom: 1px solid #ddd;
    padding: 9px 14px;
    font-size: 14px;
    font-weight: bold;
    background: #fff;
}


.profiles .filter-left-b{
   padding-top: 4px;
}

.star-drop-img{
    width: 17px;
    margin-right: 11px;
    position: relative;
    bottom: 2px;
}

.rating-input-check{
    padding: 8px 12px;
}

.rating-input-check input[type="radio"]{
    margin-right: 16px;
    margin-left: 1px;
    position: relative;
    top: 3px;
   
}



.rating-input-check .rating-input-check-a{
    width: 19px;
    margin-right: 5px;
}

.filter-right-a{
    display: flex;
    justify-content: center;
    padding: 18px;
    border-bottom: 2px solid #ddd;
    align-items: center;
}
.filter-right-a .search-width{
    width: 99%;
}
.filter-right-a-clored{
    display: none;
}
.filter-right-a-clored img{
    margin-right: 14px;
    width: 30px;
}


.filter-right-a .near-btn{
    margin-right: 20px;
}
.filter-right-a .dropdown-toggle::after{
    display: none;
}
.filter-right-a .search-all{
    cursor: pointer;
}
.filter-right-a .dropdown-menu{
    padding: 11px 8px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #0000009c;
    border: 1px solid #7070709c;
    border-radius: 2px;
    border-radius: 2px;
    margin-top: 3px;
}
.filter-right-aea{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}
.filter-right-aea:last-child{
    margin-bottom: 0;
}
.filter-right-aea img{
    width: 16px;
    margin-right: 7px;
}
.filter-right-aea p{
    margin: 0;
    padding: 0;
    color: #1592E6;
    font-weight: bold;
    font-size: 11px;
}

.filter-right-ad{
    font-size: 12px;
    margin-top: 12px;
    color: #333 !important;
}


.filter-right-ab{
    text-align: center;
    position: relative;
}

.filter-right-ab img{
    position: absolute;
    width: 18px;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.filter-right-ab input{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #7070703b !important;
    border-radius: 26px;
    padding-left: 35px;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 185px;
}
.filter-right-ab-loDrop input{
    width: 100%;
}
.explore-link-a:hover{
  background-color: #fff;
}
.filter-right-ab input:focus-visible{
    border: 1px solid #7070703b !important;
    outline: none !important;
}
.filter-right-ac{
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;
    color: #1592E6;
    font-weight: bold;
}

.filter-right-ac input{
    margin-right: 7px;
    position: relative;
    top: 2px;
}

.filter-right-acc{
    border: 1px solid #ddd;
    padding: 0px 14px;
    border-radius: 30px;
}

.filter-right-b{
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    overflow: hidden;
    padding: 12px 18px;
}
.filter-right-b .category-product{
    margin: 0;
}

.filter-right-b .category-product-loc span{
    font-size: 11px;
}

.filter-sm-shadow{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0, .4);
    z-index: 99;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}
/* media query */
@media only screen and (max-width: 992px){
    .filter{
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px){
    .search-all{
       height: 35px;
       line-height: 34px;
       box-shadow: 0px 1px 1px 0px rgb(13 46 104 / 30%);
       -webkit-box-shadow: 0px 1px 1px 0px rgb(13 46 104 / 30%);
       -moz-box-shadow: 0px 1px 1px 0px rgb(13 46 104 / 30%);
    }
    
    .filter-right{
        width: 100%;
    }
    .filter-right-a-clored{
        display: block;
    }
    .filter-right-a-uncolored{
        display: none;
    }
    .filter-left{
        position: fixed;
        left: 0;
        top: 49px;
        z-index: 999;
        left: -100%;
        transition: all .5s ease-in-out;
    }
    .filter-sm-shadow-active{
        visibility: visible;
        opacity: 1;
    }
    .filter-left-active{
       left: 0;
    }
    .filter-left {
        width: 70%;
    }
}

@media only screen and (max-width: 500px){
    .filter{
        padding: 0;
    }
    .filter-right-b{
        grid-template-columns: repeat(4, 1fr);
    }
    .search-input{
        font-size: 11px;
        letter-spacing: 1px;
    }
}
@media only screen and (max-width: 400px){
    .filter-left {
        width: 80%;
    }
    .filter-right-b{
        grid-row-gap: 4px;
        grid-column-gap: 4px
    }
    .filter-right-b{
        padding: 12px 4px;
    }
    .filter-right-b .category-product-title {
        font-size: 10px;
    }
}

@media only screen and (max-width: 300px){
    .filter-right-b {
        padding: 12px 2px;
    }
    .filter-right-b {
        grid-row-gap: 2px;
        grid-column-gap: 2px;
    }
    .filter-left {
        width: 100%;
    }
}